@page "{hardwareId?}"
@model Inventory.WebUI.HardwareDetailsModel
@{
    ViewData["Title"] = "HardwareDetails";
}

<div class="container">       
    <div class="col-md-12 alert alert-heading ">
        <div class="row justify-content-center">
            <h2 class="my-1">
                <small><span class="fas fa-edit text-info"></span>&nbsp;Details for:</small>
                @Model.HardwareInventory.ComputerName
            </h2>
        </div>
    </div>
    <br />
    <div class="col-md-12">
        <div class="card">               
            <nav class="card-header justify-content-center">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active text-info" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab" aria-controls="nav-location" aria-selected="true"><span class="fas fa-map-marker-alt text-secondary"></span>&nbsp;Location</a>
                    <a class="nav-item nav-link text-info" id="nav-username-tab" data-toggle="tab" href="#nav-username" role="tab" aria-controls="nav-username" aria-selected="true"><span class="fas fa-user text-secondary"></span>&nbsp;User</a>
                    <a class="nav-item nav-link text-primary" id="nav-warranty-tab" data-toggle="tab" href="#nav-warranty" role="tab" aria-controls="nav-warranty" aria-selected="true"><span class="fas fa-desktop text-secondary"></span>&nbsp;Warranty</a>
                    <a class="nav-item nav-link text-info" id="nav-os-tab" data-toggle="tab" href="#nav-os" role="tab" aria-controls="nav-os" aria-selected="true"><span class="fas fa-plus-square text-secondary"></span>&nbsp;Operating System</a>
                    <a class="nav-item nav-link text-info" id="nav-hardware-tab" data-toggle="tab" href="#nav-hardware" role="tab" aria-controls="nav-hardware" aria-selected="true"><span class="fas fa-cogs text-secondary"></span>&nbsp;Hardware</a>
                    <a class="nav-item nav-link text-info" id="nav-disk-tab" data-toggle="tab" href="#nav-disk" role="tab" aria-controls="nav-disk" aria-selected="true"><span class="fas fa-hdd text-secondary"></span>&nbsp;Disk</a>
                    <a class="nav-item nav-link text-info" id="nav-scanner-tab" data-toggle="tab" href="#nav-scanner" role="tab" aria-controls="nav-scanner" aria-selected="true"><span class="fas fa-search text-secondary"></span>&nbsp;Scan</a>
                    <a class="nav-item nav-link text-danger" id="nav-software-tab" data-toggle="tab" href="#nav-software" role="tab" aria-controls="nav-software" aria-selected="true"><span class="fas fa-download text-secondary"></span>&nbsp;Software</a>
                </div>
            </nav>                        
            <div class="tab-content card-body" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
                    <div class="row">
                        <div class="col">
                            <h5 class="my-1">
                                <small> Location:</small>
                                @Model.HardwareInventory.Location
                            </h5>
                            <h5 class="my-1">
                                <small> Ip Address:</small>
                                @Model.HardwareInventory.IpAddress
                            </h5>
                            <h5 class="my-1">
                                <small> MAC Address:</small>
                                @Model.HardwareInventory.Macaddress
                            </h5>
                            <h5 class="my-1">
                                <small> DHCP Server:</small>
                                @Model.HardwareInventory.Dhcpserver
                            </h5>
                        </div>
                        <div class="col">
                            <h5 class="my-1">
                                <small> DNS Server:</small>
                                @Model.HardwareInventory.Dnsserver
                            </h5>
                        </div>                     
                    </div>                   
                </div>
                <div class="tab-pane fade" id="nav-username" role="tabpanel" aria-labelledby="nav-username-tab">
                    <div class="col">
                        <h5 class="my-1">
                            <small>UserName:</small>
                            @Model.HardwareInventory.UserName
                        </h5>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-warranty" role="tabpanel" aria-labelledby="nav-warranty-tab">
                    @if (Model.DellWarrantyInformation != null)
                    {
                        <div class="row">
                            <div class="col">
                                <h5 class="my-1">
                                    <small>Serial Number:</small>
                                    @Model.DellWarrantyInformation.AssetTag
                                </h5>
                                <h5 class="my-1">
                                    <small>Model:</small>
                                    @Model.DellWarrantyInformation.Model
                                </h5>
                                <h5 class="my-1">
                                    <small>Model Family:</small>
                                    @Model.DellWarrantyInformation.ModelFamily
                                </h5>
                                <h5 class="my-1">
                                    <small>Product ID:</small>
                                    @Model.DellWarrantyInformation.ProductId
                                </h5>
                            </div>
                            <div class="col">
                                <h5 class="my-1">
                                    <small>Warranty Start Date:</small>
                                    @Model.DellWarrantyInformation.WarrantyStartDate
                                </h5>
                                <h5 class="my-1">
                                    <small>Warranty End Date</small>
                                    @Model.DellWarrantyInformation.WarrantyEndDate
                                </h5>
                                <h5 class="my-1">
                                    <small>Scan Date:</small>
                                    @Model.DellWarrantyInformation.Qdate
                                </h5>
                                <h5 class="my-1 @switch (Model.DellWarrantyInformation.WarrantyStatus.ToString())
                                {
                                    case "VALID":<text> text-success </text>
                                    break;
                                    case "WARNING": <text> text-warning </text>
                                    break;
                                    case "EXPIRED": <text> text-danger </text>
                                    break;
                                    default: <text> text-info </text>
                                    break;
                                }">
                                    <small>Status:</small>
                                    @Model.DellWarrantyInformation.WarrantyStatus
                                </h5>
                            </div>
                        </div>
                    }else if(Model.HPWarrantyInformation != null){
                        
                        <div class="row">
                            <div class="col">
                                <h5 class="my-1">
                                    <small>Serial Number:</small>
                                    @Model.HPWarrantyInformation.AssetTag
                                </h5>
                                <h5 class="my-1">
                                    <small>Model:</small>
                                    @Model.HPWarrantyInformation.Model
                                </h5>
                                <h5 class="my-1">
                                    <small>Model Family:</small>
                                    @Model.HPWarrantyInformation.ModelFamily
                                </h5>
                                <h5 class="my-1">
                                    <small>Product ID:</small>
                                    @Model.HPWarrantyInformation.ProductId
                                </h5>
                            </div>
                            <div class="col">
                                <h5 class="my-1">
                                    <small>Warranty Start Date:</small>
                                    @Model.HPWarrantyInformation.WarrantyStartDate
                                </h5>
                                <h5 class="my-1">
                                    <small>Warranty End Date</small>
                                    @Model.DellWarrantyInformation.WarrantyEndDate
                                </h5>
                                <h5 class="my-1">
                                    <small>Scan Date:</small>
                                    @Model.HPWarrantyInformation.Qdate
                                </h5>
                                <h5 class="my-1 @switch (Model.HPWarrantyInformation.WarrantyStatus.ToString())
                                        {
                                            case "VALID":<text> text-success </text>
                                            break;
                                            case "WARNING": <text> text-warning </text>
                                            break;
                                            case "EXPIRED": <text> text-danger </text>
                                            break;
                                            default: <text> text-info </text>
                                            break;
                                        }">
                                    <small>Status:</small>
                                    @Model.HPWarrantyInformation.WarrantyStatus
                                </h5>
                            </div>
                        </div>
                        
                    }
                    else
                    {
                    <div class="row  justify-content-center">
                        <div class="span4 offset4 alert alert-danger">
                            <h5 class="my-1">
                                Warranty not Checked Yet
                            </h5>
                        </div>

                    </div>
                    }

                </div>                    
                <div class="tab-pane fade" id="nav-os" role="tabpanel" aria-labelledby="nav-os-tab">
                    <div class="row">
                        <div class="col">
                            <h5 class="my-1">
                                <small>OperatingSystem:</small>
                                @Model.HardwareInventory.OperatingSystem
                            </h5>
                            <h5 class="my-1">
                                <small>Domain Member:</small>
                                @Model.HardwareInventory.DomainMember
                            </h5>
                            <h5 class="my-1">
                                <small>Domain:</small>
                                @Model.HardwareInventory.Domain
                            </h5>
                            <h5 class="my-1">
                                <small>OS Version:</small>
                                @Model.HardwareInventory.Osversion
                            </h5>
                        </div>
                        <div class="col">
                            <h5 class="my-1">
                                <small>OS Build:</small>
                                @Model.HardwareInventory.Osbuild
                            </h5>
                            <h5 class="my-1">
                                <small>OS Architecture:</small>
                                @Model.HardwareInventory.Osarchitecture
                            </h5>
                            <h5 class="my-1">
                                <small>OS Install Date:</small>
                                @Model.HardwareInventory.OsinstallDate
                            </h5>
                            <h5 class="my-1">
                                <small>Last Updated:</small>
                                @Model.HardwareInventory.LastUpdated
                            </h5>
                        </div>                    
                        <div class="col">                           
                            <h5 class="my-1">
                                <small>Remote Desktop Enabled:</small>
                                @Model.HardwareInventory.RemoteDesktop
                            </h5>
                            <h5 class="my-1">
                                <small>Time Zone:</small>
                                @Model.HardwareInventory.TimeZone
                            </h5>
                        </div>                       
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-hardware" role="tabpanel" aria-labelledby="nav-hardware-tab">
                    <div class="row">
                        <div class="col">
                            <h5 class="my-1">
                                <small>Model:</small>
                                @Model.HardwareInventory.Model
                            </h5>
                            <h5 class="my-1">
                                <small>Manufacturer:</small>
                                @Model.HardwareInventory.Manufacturer
                            </h5>
                            <h5 class="my-1">
                                <small>Chassis Type:</small>
                                @Model.HardwareInventory.ChassisType
                            </h5>
                            <h5 class="my-1">
                                <small>System Type:</small>
                                @Model.HardwareInventory.SystemType
                            </h5>
                        </div>
                        <div class="col">
                            <h5 class="my-1">
                                <small>RAM:</small>
                                @Model.HardwareInventory.RamMb
                            </h5>
                            <h5 class="my-1">
                                <small>Processor:</small>
                                @Model.HardwareInventory.Processor
                            </h5>
                            <h5 class="my-1">
                                <small>Sockets:</small>
                                @Model.HardwareInventory.Sockets
                            </h5>
                            <h5 class="my-1">
                                <small>Cores:</small>
                                @Model.HardwareInventory.Cores
                            </h5>
                        </div>
                        <div class="col">
                            <h5 class="my-1">
                                <small>FirmWare Version:</small>
                                @Model.HardwareInventory.FirmwareVersion
                            </h5>
                        </div>
                    </div>
                </div>
                        <div class="tab-pane fade" id="nav-disk" role="tabpanel" aria-labelledby="nav-disk-tab">
                            <h5 class="my-1">
                                <small>Disk Size:</small>
                                @Model.HardwareInventory.DiskSizeGb
                            </h5>
                        </div>
                        <div class="tab-pane fade" id="nav-scanner" role="tabpanel" aria-labelledby="nav-scanner-tab">
                            <h5 class="my-1">
                                <small>Is Asset Scanned?:</small>
                                @Model.HardwareInventory.Scanned.GetValueOrDefault()
                                
                            </h5>
                            <h5 class="my-1">
                                <small>Scan Date:</small>
                                @Model.HardwareInventory.Qdate
                            </h5>
                        </div>
                        <div class="tab-pane fade" id="nav-software" role="tabpanel" aria-labelledby="nav-software-tab">

                            @if (Model.SoftwareInventory.Any() == true)
                            {
                                <table class="table">
                                    <thead class="bg-danger text-white">
                                    <th>HostName</th>
                                    <th>Program</th>
                                    <th>Version</th>
                                    <th>Publisher</th>
                                    <th>InstallDate</th>
                                    </thead>
                                    @foreach (var software in Model.SoftwareInventory)
                                    {
                                        <tr class="d-table-row">
                                            <td>@software.ComputerName</td>
                                            <td>@software.Program</td>
                                            <td>@software.Version</td>
                                            <td>@software.Publisher</td>
                                            <td>@software.InstallDate</td>
                                        </tr>
                                    }
                                </table>
                            }
                            else
                            {

                                <div class="row  justify-content-center">
                                    <div class="span4 offset4 alert alert-danger">
                                        <h5 class="my-1">
                                            Asset not scanned Yet
                                        </h5>
                                    </div>

                                </div>




                            }




                        </div>
                    </div>
                </div>            
    </div> 
    <br />
    <div class="col-md">
        <a asp-page="./HardwareInventory" class="btn btn-info">Hardware Inventory</a>
    </div>
</div>

